<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.mapper.ProjectMapper">
    <delete id="delete">
        delete from project_study where id = #{id}
    </delete>

    <select id="pageQuery" resultType="com.sf.vo.ProjectStudyVO">
        select * from project_study
        <where>
            <if test="theme != null and theme != ''">
                and theme like concat('%',#{theme},'%')
            </if>
            <if test="category != null and category != ''">
                and category = #{category}
            </if>
        </where>
        order by id asc
    </select>

    <select id="getById" resultType="com.sf.vo.ProjectStudyVO">
        select *
        from project_study
        where id = #{id}
    </select>

    <select id="getSignupByProjectId" resultType="com.sf.vo.UserVO">
        select u.id,
               u.username,
               u.name,
               u.role,
               u.avatar,
               u.email,
               u.phone,
               u.sex
        from project_signup as ps join user as u on ps.user_id = u.id where ps.project_id=#{projectId};
    </select>

    <insert id="insert" parameterType="com.sf.entity.ProjectStudy">
        insert into project_study(cover_path,
                                  theme,
                                  introduction,
                                  content,
                                  category,
                                  capacity,
                                  status,
                                  create_time,
                                  update_time,
                                  like_count,
                                  click_count)
        values(#{coverPath}, #{theme}, #{introduction}, #{content}, #{category}, #{capacity}, #{status}, #{createTime}, #{updateTime},#{likeCount},#{clickCount})
    </insert>

    <update id="update" parameterType="com.sf.entity.ProjectStudy">
        update project_study
        <set>
            <if test="coverPath != null and coverPath != ''">cover_path = #{coverPath},</if>
            <if test="theme != null and theme != ''">theme = #{theme},</if>
            <if test="introduction != null and introduction != ''">introduction = #{introduction},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
            <if test="clickCount != null">click_count = #{clickCount},</if>
        </set>
        where id = #{id}
    </update>
</mapper>
